@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  /* overflow: hidden; */
  font-family: "raleway", sans-serif;
  line-height: 1.5;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../all_order/pancakes-pattern.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -10;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

.video-container {
  position: relative;
  flex: 1;
  height: 100vh;
  width: 50vw;
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: 180%;
}
label:hover {
  color: green;
}

.form-container {
  flex: 1;
  padding-top: 5px;
  padding-left: 50px;
  min-height: 100vh;
  overflow-y: auto;
  width: 50vw;
  font-size: 15px;
}
#stopVideo {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: white;
  border-radius: 20px;
}
.price-banner {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgb(113, 203, 61);
  color: black;
  border-radius: 50%;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-shadow: 1px 1px black;
  transition: 0.2s;
}

.price-banner:hover {
  transform: scale(1.05);
}
h2,
#summaryText {
  margin: 20px;
}
h3 {
  margin: 15px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
  margin-left: 10px;
}
input[type="text"] {
  margin-left: 20px;
  line-height: 20px;
  padding: 5px;
  border-radius: 5px;
}

label {
  display: block;
  margin: 15px;
}

#pancakeForm {
  border: solid 2pxrgb (223, 250, 227);
  margin-right: 40px;
  background-color: rgb(223, 250, 227);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px black;
  min-width: 300px;
}

select {
  font-size: 15px;
  margin: 5px 30px;
  padding: 5px;
  border-radius: 5px;
}

#button {
  border-radius: 2px;
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 0;
  height: 50px;
}
#button button:hover,
#button a:hover {
  color: green;
  transform: scale(1.05);
}
#button button,
#button a {
  flex: 1;
  border: none;
  background: white;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font: bold 1rem "raleway", sans-serif;
  transition: 0.1s;
}
#button button {
  border-right: 1px solid green;
}
#button a {
  text-decoration: none;
}

#see-all {
  text-decoration: none;
  font-weight: bold;
  position: fixed;
  right: 5px;
  top: 50px;
  color: black;
  border-radius: 5px;
  background: rgb(113, 203, 61);
  padding: 5px;
  width: 80px;
  text-align: center;
  box-shadow: 1px 1px 1px grey;
}
